@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models

@{
	Layout = "masterTemplate.cshtml";
    var HomePage = Model.Root();
    var parent = Model.Parent;


}


<!-- Title Bar -->
<div class="pbmit-title-bar-wrapper">
	<div class="container">
		<div class="pbmit-title-bar-content">
			<div class="pbmit-title-bar-content-inner">
				<div class="pbmit-tbar">
					<div class="pbmit-tbar-inner container">
						<h1 class="pbmit-tbar-title">@Model.Name</h1>
					</div>
				</div>
				<div class="pbmit-breadcrumb">
					<div class="pbmit-breadcrumb-inner">
						<span>
                            <a title="" href="@HomePage.Url()" class="home"><span>@HomePage.Name</span></a>
						</span>
                        <span class="sep"></span>
                        <span>
                            <a title="" href="@parent.Url()"><span>@parent.Name</span></a>
                        </span>
						<span class="sep"></span>
                        <span><span class="post-root post post-post current-item">@Model.Name</span></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Title Bar End-->

  <!-- Page Content -->
<div class="page-content"> 

<!-- Team Start --> 
<section class="our-team-section">
	<div class="container">
		<div class="row pbmit-element-posts-wrapper">


            @{
                var selection = Model.ChildrenOfType("product")
                .Where(x => x.IsVisible())
                .OrderBy(x => x.UpdateDate);
            }
            
                @foreach (var item in selection)
                {

                    var ProductImage = item.Value<MediaWithCrops>("productImage");

                        <article class="pbmit-team-style-1 col-md-6 col-lg-4 col-xl-3">
                                        <div class="pbminfotech-post-item">
                                            <div class="pbmit-featured-wrap">
                                                <div class="pbmit-team-btn">
                                    @* <a class="pbmit-team-text" href="#">
                                                        <i class="pbmit-base-icon-share"></i>
                                                    </a>
                                                    <div class="pbminfotech-box-social-links">
                                                        <ul class="pbmit-social-links pbmit-team-social-links">
                                                            <li class="pbmit-social-li pbmit-social-facebook">
                                                                <a href="#" title="Facebook" target="_blank">
                                                                    <span><i class="pbmit-base-icon-facebook-f"></i></span>
                                                                </a>
                                                            </li>
                                                            <li class="pbmit-social-li pbmit-social-twitter">
                                                                <a href="#" title="Twitter" target="_blank">
                                                                    <span><i class="pbmit-base-icon-twitter-2"></i></span>
                                                                </a>
                                                            </li>
                                                            <li class="pbmit-social-li pbmit-social-youtube">
                                                                <a href="#" title="Youtube" target="_blank">
                                                                    <span><i class="pbmit-base-icon-youtube-play"></i></span>
                                                                </a>
                                                            </li>
                                                            <li class="pbmit-social-li pbmit-social-instagram">
                                                                <a href="#" title="Instagram" target="_blank">
                                                                    <span><i class="pbmit-base-icon-instagram"></i></span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>*@
                                                </div>
                                                <div class="pbmit-featured-inner">
                                                    <div class="pbmit-featured-img-wrapper">
                                                        <div class="pbmit-featured-wrapper">
                                                        <img src="@ProductImage?.MediaUrl()" class="img-fluid" alt="@ProductImage?.Name">
                                                        </div>
                                                    </div>
                                                    <a class="pbmit-link" href="@item.Url()"></a>
                                                </div>
                                            </div>
                                            <div class="pbminfotech-box-content">
                                                <h3 class="pbmit-team-title">
                                            <a href="@item.Url()">@item.Value("productName")</a>
                                                </h3>
                                            <div class="pbminfotech-box-team-position">@item.Value("productSubTitle")</div>
                                            </div>
                                        </div>
                                    </article>

                    
                }
            


		</div>
	</div>
</section>
<!-- Team End --> 

  </div>
  <!-- Page Content End -->
